@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <div align="center">
        <h4 class="text-danger">An error occurred while processing your request.</h4>
        <h4 class="text-danger">Please try again later.</h4>
        <img src="~/images/oops.jpg"/>
    </div>
