
@{
    ViewData["Title"] = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Sorry! - My Bank</title>
</head>
<body>
    <div align="center">
        <table>
            <tr>
                <td>
                <td><img src="../images/NewCreditCard.jpg" id="card1" wiid="C127" height="100px" width="200px"></td></td>
                <td width="5%"></td>
                <td>
                    <h1 class="line-em-up">Sorry we could not process your request.</h1>
                    <br />
                    We are unable to verify your identity. Please try again later.
                    <br /><br />
                    Thank you for choosing My Bank credit card.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

