
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Thanks you! - My Bank</title>
</head>
<body>
    <div align="center">
        <table>
            <tr>
                <td>
                <td><img src="../images/NewCreditCard.jpg" id="card1" wiid="C127" height="100px" width="200px"></td>
                <td width="5%"></td>
                <td>
                    <h1 class="line-em-up">Thank you for your request.</h1>
                    <br />
                    We will quickly review your application and issue your new credit card.
                    <br /><br />
                    Thank you for choosing My Bank credit card.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
